env/*
.idea/*
*.pyc
.terraform/*
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfvars
.terraform.lock.hcl
terraform/.terraform
terraform/.terraform
terraform/.terraform/*
# Ignore Terraform caches and providers
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
